@media only screen and (max-width: 1120px) {
    #slide-line{
        display: none;
    }

    .content-item{
        background-position: 50% 50%;
        background-size: 100%;
    }
    
    .head-wrapper{
        flex-wrap: wrap;

    }
    .header-menu{
        opacity: 1;
        text-align: center;
        width: 100%;
        top: 40px;
        left: 0px;
        overflow: hidden;
        padding-bottom: 50px;
        
    }
    
    .menu-space{
        padding-top: 320px !important;

    }
    .menu-space .slider{
        top: 600px;
    }
}

@media only screen and (min-width: 720px) {
    .logo{
        width: 234px;
        height: 45.608px;
	}
    .head-wrapper{
        padding: 32px 20px;
    }

    .hero-section{
        background-size: cover;
    }
    .hero-wrap{
        padding: 100px 0px;
    }
    .form-wrap{
        max-width: 85%;
    }
    .hero-form{
        flex: 1 1 0px;
        justify-content: space-between;
    }
    .hero-title{
        padding: 100px 20px;
        max-width: 80%;
    }
    
    
    .title-big{
        font-size: 54px !important;
    }
    .title-small{
        font-size: 24px !important;
    }
    
    
    .book-btn-wrap, .form-wrap{
        border-radius: 0px 20px 20px 0px;
    }
    .book-btn-wrap{
        width: min-content;
    }
    .book-btn{
        white-space: normal;
        width: 75%;
    }
    .form-column, .hero-form{
        flex-wrap: wrap;
    }
    
    .form-column{
        padding-left: 32px;
    }
    .form-item{
        flex: 1 1 0px;
        min-width: calc(50% - 20px);
		align-self: center;
    }
    
    .slider, .slider-items, .slider-arrows, .reviews-wrap,  .review-block{
        display: flex;
    }
    .slider{
        right: 36px;
        top: 280px;
    }
	

    .section-wrap{
        padding: 80px 32px !important;
    }

	.content-item{
		height: 376px !important; 
	}

    .offer-wrap{
        margin: 100px 0;
    }
    .offer-image-block{
        background-position: 50%;
    }
    .special-offers .title-wrap{
        flex-direction: row-reverse;
    }
    
    .special-offers .title-block{
       align-items: flex-end;
       text-align: end;
    }


	.blog-image-block{
		height: 555px;
	}
    .trip-planners .title-wrap{
        width: 45%;
    }
    .planner-gallery-image{
        height: 350px;
    }

    .review-block{
        margin: 160px 0;
        padding: 60px 40px 40px 40px;
        flex-shrink: 0;
        max-width: 420px;
    }
    .section-wrap{
        overflow: hidden;
    }
	.reviews-wrap{
        gap: 32px;
        flex-wrap: nowrap;
    }


    .email-form, .form-column, .hero-form{
        flex-direction: row;
    }
    .email-subscribe{
        align-self: flex-end;
    }
    .special-offers .title-block::content{
        width: 100%;
        margin-left: auto;
    }
}

@media only screen and (min-width: 720px) and (max-width: 1100px){
    .planner-title{
        font-size: 32px;
    }

}


@media only screen and (min-width: 1120px){
    .section-wrap{
        padding: 100px 0px !important;
    }
    .section-wrap > *{
        padding: 0px 32px !important;
    }
    .menu-btn{
        display: none;
    }
    /* .header-menu, .login-wrap{
        display: block;
    } */
    header .menu, .btn-login-signup, .blog-post-wrap, .planners-wrap, .gallery-images-wrap, .offer-price-details{
        flex-direction: row;
    }

	.head .hide, .header-menu, .login-wrap{
        display: block !important;
    }
	
	.hero-wrap{
		padding-top: 200px;
        padding-bottom: 140px;
	}
    .hero-title{
        padding: 0px 0 140px 32px;
        max-width: 55%;
    }



    .title-big{
        font-size: 64px !important;
    }
    .title-small{
        font-size: 24px !important;
    }



    .form-column{
        flex-grow: 1;
    }
    .form-item{
        min-width: 0;
    }


    .location-title{
        font-size: 28px;
    }

    .content-block, .offer-wrap, .gallery-images-wrap{
        margin-bottom: 0;
    }
    .content-item{
        flex-shrink: 0;
        max-width: 449px !important;
        height: 581px !important;
        display: flex;
        overflow: hidden;
        background-size: cover;
    }

    .offer-wrap, .blog-post-wrap,   .planners-wrap, .gallery-images-wrap{
        gap: 32px;
    }
    .offer-item{
        display: block;
        background-size: cover;
    }
    .offer-price-details{
        justify-content: space-between;
    }



    .blog-post-wrap div{
        flex: 1 1 0px;
    }
    .blog-image-block{
        width: 100%;
        height: 686px;
        margin-bottom: 0;
    }
    .blog-text{
        align-self: center;
    }

    .trip-planners .title-wrap{
        min-width: 40%;
        align-self: center;
    }
    
    .trip-planners .inner-wrap{
        gap: 80px;
    }
    
    .planners-wrap, .gallery-images-wrap{
        align-items: center;
        overflow: hidden;
        flex-shrink: 0;
    }
    

    .planner-text .title-small{
        font-size: 18px !important;
    }
    .planner-item{
        width: 250px;
    }
    .planner-text{
        display: none;
    }

    .reviews .arrows-wrap{
        justify-content: flex-end;
    }
    .reviews .section-wrap{
        padding-bottom: 200px !important;
    }
    
    .relative-wrap{
        position: relative;
    }

    .news-form-wrap{
        flex-direction: row;
        justify-content: center;
    }
    .news-form{
        position: absolute;
        top: -95px;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        width: 95%;
        max-width: 1262px;
    }
    footer .section-wrap{
        padding: 0 !important;
    }
    footer .inner-wrap{
        flex-direction: row;
        padding-top: 240px !important;
        padding-bottom: 140px !important;
        justify-content: space-between; 
        gap: 0;
    }

    .arrows-above, .planner-active, .trip-planners .inner-wrap{
        display: flex !important;
    }
    .arrows-below{
        display: none !important;
    }

}

@media only screen and (min-width: 1400px){
    .section-wrap{
        padding: 140px 0 !important;
    }

    .section-wrap > *{
        padding: 0px 32px !important;
    }
    .header-menu, .login-wrap{
        display: block;
    }
    header .menu, .btn-login-signup{
        flex-direction: row;
    }

    .hero-wrap{
        padding: 270px 0;
    }
    .hero-title{
        padding-bottom: 170px;
        max-width: 50%;
    }
    .slider{
        right: 32px;
        top: 483px; 
    }

    .blog-image-block{
        height: 800px;
    }

    .form-item{
        min-width: 0;
    }
    
    .special-offers .planner-gallery-image{
        height: 400px;
    }
    .gallery .planner-gallery-image{
        height: 470px;
    }
    .review-block{
        max-width: 482px !important;
    }
    .reviews .section-wrap{
        padding-bottom: 240px !important;
    }
    .news-form-wrap {
        gap: 100px;
    }

}

@media only screen and (min-width: 1800px){
    .section-wrap > *:not(.swiper), .head-wrapper, .hero-title{
        padding-left: var(--desktop-vertical-padding) !important;
        padding-right: var(--desktop-vertical-padding) !important;
    }
    .swiper{
        max-width: calc(1920px + var(--desktop-vertical-padding)) !important;
    }
    .section-wrap> *, .head-wrapper, .hero-title{
        max-width: 1920px;
        margin-right: auto;
        margin-left: auto;
    }
    .form-column, .section-wrap .swiper{
        padding-left: var(--desktop-vertical-padding) !important;
        justify-content: flex-end;
    }
 
    .slider{
        right: 80px;
        top: 475px; 
    }
    .form-wrap {
        max-width: 78%;
        justify-content: flex-end;
    }

    .gallery .planner-gallery-image{
        height: 570px;
    }
    .review-block{
        max-width: 582px !important;
    }
    .hero-title h1{
        width: 50%;
    }

    .hero-form{
        max-width: 1800px;
    }

}
@media only screen and (min-width: 2950px){
    .form-column{
        padding-left: 0 !important; 
    }

}