
.hero-section{
    z-index:1;
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), url("../images/backgr_img.jpg"), lightgray 0px -1241.288px / 100% 212.254% no-repeat;
    background-repeat:	no-repeat;
    background-position: 10% 75%;
}
.hero-wrap{
    padding: 100px 16px;
}


.hero-title, .hero-form, .form-column{
    flex-direction: column;
}
.hero-title{
    padding: 100px 0;
    gap: 16px;
}


.hero-form{
    width: 100%;
    gap: 60px;
}
.form-wrap{
    border-radius: 16px;
    background: #FFF;
}
.form-column{
    gap: 40px;
    padding: 20px;
    justify-content: space-between;
    flex: 1;
}
.form-item{
    gap: 12px;
}
.form-item label{
    color:var(--secondary-text-color);
    font-family: var(--page-font2);
    font-size: 16px;
    text-transform: uppercase;
}
.form-column input, select{
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    font-family: var(--page-font1);
    font-size: 14px;
}
input[type="date"]::-webkit-calendar-picker-indicator{
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    background: url("../images/icons/chevron-down.svg") no-repeat;
    width: 20px;
    height: 20px;
    border-width: thin;
}


.book-btn-wrap{
    padding: 40px 20px;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    border-radius: 0px 0px 16px 16px;
    background: var(--main-page-color);
}
.book-btn {
    width: 100%;
    background: var(--main-page-color);
    border: none;
    color: #FFF;
    font-family: var(--page-font1);
    font-size: 36px;   
    height: 100%;
    text-align: left;
}
.book-arrow{
    width: 21px;
    stroke-width: 1px;
    stroke: #FFF;
}

.slider{
    right: 80px;
    top: 475px;
}
.slider, .slider-items, .slider-arrows{
    display: none;
    flex-direction: column;
    align-items: flex-start;
}
.slider{
    gap: 24px;
}
.slider-items{
    gap: 28px;

}
.slider-items::content{
    width: 16px;
    height: 16px;
}
.slider-arrows{
    gap: 16px;

}
.slider-arrows::content{
    width: 14px;
    height: 6px;
}
