:root {
    --main-page-color: #FF7757;
    --secondary-color: #172432;
    --desktop-vertical-padding: 182px;
    --secondary-text-color: #767E86;
    --page-font1: Playfair Display;
    --page-font2: Rubik;
  }